name: Build Docker Image

on:
  workflow_call:
    inputs:
      registry:
        description: "The Docker registry to push to"
        required: true
        type: string
      image-name:
        description: "The name of the Docker image"
        required: true
        type: string
      image-tag:
        description: "The tag for the Docker image"
        required: true
        type: string
      dockerfile-context:
        description: "The context path for the Dockerfile"
        required: true
        type: string
      dockerfile:
        description: "The path to the Dockerfile. If not provided, defaults to '{dockerfile-context}/Dockerfile'"
        required: false
        type: string
    secrets:
      token:
        description: "GitHub token for authentication"
        required: true

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.token }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.registry }}/${{ inputs.image-name }}
          tags: |
            type=raw,value=${{ inputs.image-tag }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.dockerfile-context }}
          file: ${{ inputs.dockerfile || format('{0}/Dockerfile', inputs.dockerfile-context) }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ inputs.registry }}/${{ inputs.image-name }}:buildcache
          cache-to: type=registry,ref=${{ inputs.registry }}/${{ inputs.image-name }}:buildcache,mode=max
