name: Retag Docker Image

on:
  workflow_call:
    inputs:
      registry:
        description: "The Docker registry"
        required: true
        type: string
      image-name:
        description: "The name of the Docker image"
        required: true
        type: string
      source-tag:
        description: "The source tag to retag from"
        required: true
        type: string
      target-tag:
        description: "The target tag to retag to"
        required: true
        type: string
    secrets:
      token:
        description: "GitHub token for authentication"
        required: true

jobs:
  retag:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.token }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Retag image
        run: |
          docker buildx imagetools create \
            --tag ${{ inputs.registry }}/${{ inputs.image-name }}:${{ inputs.target-tag }} \
            ${{ inputs.registry }}/${{ inputs.image-name }}:${{ inputs.source-tag }}
